page-log-in {
    .main{ background-image: url();
        background-attachment: fixed;
        background-size: cover;
        height: 100%;
        width: 100%;
    }  
  
#label{
    text-align: center;
    font-style: unset;
}
h1{
    text-align: center;
}
  p{
      text-align: center;
  }
a{
    color: 	#E34640;
    text-decoration: none;
}

.text{
    text-align: center;
    font-size: 10px;
}
.body{
    position: relative;
    top: -20%;
    height: 40%;
   
  
}
.input{
    background-color: rgba(0, 0, 0, 0);
}
.btn2{
    font-size: 12px;
}
.picture{
    position: relative;
    height: 50%;
}
.pic1{
    position: relative;
    left:  10%;
    top: -22%;
    width: 100%;
    text-align: right;
}
.pic2{
    position: relative;
    text-align: right;
    
    top: -30%;
 
  

}
.icon{
    position: relative;
  
}

}
