page-log-in {
    .main{ background-image: url('../../assets/imgs/w.jpg');
        background-attachment: fixed;
        background-size: cover;
    }  
  
#label{
    text-align: center;
    font-style: unset;
}
h1{
    text-align: center;
}
  p{
      text-align: center;
  }
a{
    color: orangered;
    text-decoration: none;
}

.text{
    text-align: center;
    font-size: 10px;
}
.body{

    margin-top: 50%;
}
.input{
    background-color: rgba(0, 0, 0, 0);
}
.btn2{
    font-size: 12px;
}
}
